<% skillGutters = "col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item" %>

<div class="row">
	<div class="<%= skillGutters %>">
		<strong><i class="fa fa-diamond fa-lg"></i>&nbsp;
			Web</strong><br>
		Ruby on Rails, NodeJS, React, PHP
	</div>
	<div class="<%= skillGutters %>">
		<i class="fa fa-terminal fa-lg"></i>&nbsp;
		<strong>Desktop Programming: </strong> <br>
		C++ (and OpenGL), Python, MIPS
	</div>
	<div class="<%= skillGutters %>">
		<i class="fa fa-cloud fa-lg"></i>&nbsp;
		<strong>Dev-Ops</strong><br/>
		<i>Amazon Web-Services (Cognito / ECS), Heroku, GitLab CI/CD, Docker, Vagrant, Puppet + Chef </i>
	</div>
</div>


<div class="row">
	<div class="<%= skillGutters %>">
		<strong><i class="fa fa-coffee fa-lg"></i>&nbsp;
			Java
		</strong><br>
		Java 8, Spring, JavaFX, Maven, Liferay, Junit, TestNG
		<br>
	</div>
	<div class="<%= skillGutters %>">
		<i class="fa fa-code fa-lg"></i>&nbsp;
		<strong>Javascript</strong><br/>
		<i>ES7, NodeJS, Express, Apollo (GraphQL) Server, React </i>
	</div>
	<div class="<%= skillGutters %>">
		<strong><i class="fa fa-database fa-lg"></i>&nbsp;
			Database + Web-Service
		</strong><br>
		GraphQL, Postgres, MySQL, Oracle, Microsoft SQL, NoSQL, REST<br>
	</div>
</div>

<div class="row">
	<div class="<%= skillGutters %>">
		<i class="fa fa-linux fa-lg"></i>&nbsp;
		<strong>Specialize in Linux.</strong> <br>
	</div>
	<div class="<%= skillGutters %>">
		<i class="fa fa-globe fa-lg"></i>&nbsp;
		<strong>Bi-Lingual:</strong> Greek + English<br/>
	</div>
		<div class="<%= skillGutters %>">
		<i class="fa fa-graduation-cap fa-lg"></i>&nbsp;
		<strong>University of Hartford</strong> - West Hartford, CT<br/>
		<i>Computer Science, Expected Fall '19</i>
	</div>
</div>
