<%= render 'layouts/name' %>
<% link_to root_url %>

<p id="notice"><%= notice %></p>

<div class="container">
	<p>
		<h2><%= @article.name %></h2>
		<%= @article.categories %>
	</p>
	
	<p>
		<%= @article.content %>
	</p>
	
	
	<%= link_to 'Home', root_path %>
</div>
