<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Excerpt:</strong>
  <%= @article.excerpt %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @article.categories %>
</p>

<%= link_to 'Home', root_path %>
