<h1>Projects</h1>
<p id="notice"><%= notice %></p>

<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Categories</th>
		<th>Markdown</th>
		<th colspan="3"></th>
	</tr>
	</thead>
	
	<tbody>
	<% @projects.each do |project| %>
			<tr>
				<td><%= project.name %></td>
				<td><%= project.categories %></td>
				<td>
					<% if project.markdown %>
							True
					<% else %>
							False
					<% end %>
				</td>
				<td><%= link_to 'Show', project %></td>
				<td><%= link_to 'Edit', edit_project_path(project) %></td>
				<td><%#= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
	<% end %>
	</tbody>
</table>

<h1>Articles</h1>

<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Categories</th>
		<th>Published</th>
		<th colspan="3"></th>
	</tr>
	</thead>
	
	<tbody>
	<% @articles.each do |article| %>
			<tr>
				<td><%= article.name %></td>
				<td><%= article.categories %></td>
				<td>
					<% if article.published %>
							True
					<% else %>
							False
					<% end %>
				</td>
				<td><%= link_to 'Show', article %></td>
				<td><%= link_to 'Edit', edit_article_path(article) %></td>
				<td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
