<!-- Header -->
<header>
	<div class="container">
	</div>
</header>

   <div class="container">
	
	<!--<h1 class="fullName"><%= link_to "vasilios c. kaloidis", root_path %> <%#= image_tag('helmet.png') %></h1>-->
	
	<%= render 'layouts/name' %>
	
	<div class="skills center">
		<%= render "skills" %>
	</div>
	
	<div class="center topButtons">
		<%= render "buttons" %>
	</div>
	
	<hr>
	
	<!-- PROJECTS -->
	<h1 class="center">projects</h1>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<% @projects.each do |project| %>
				<% if project.displayed %>
						
						<%
							if project.isArticle?
								# name = Lookup Article by Name
							else
								name = project.name
							end
						%>
						
						<% if @count == @half.round # Split DIV For 2 columns                  %>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<% end %>
						
						<div data-toggle="modal" data-target="#modal<%= project.id %>" class="projectHover panel panel-default center-block">
							<div class="panel-body">
								<div class="pull-right">
									<%= buildCategoryIconHtml(project.categories).html_safe %>
								</div>
								<div class="clearfix">
									<%= project.name %><br>
									<%= buildCategoryLabelHtml(project.categories).html_safe %>
								</div>
							</div>
						</div>
						
						<!-- Modal -->
						<div class="container">
							<div class="modal fade" id="modal<%= project.id %>"
							     tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
							     aria-hidden="true">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title" id="myModalLabel"><%= project.name %></h4>
										</div>
										<div class="modal-body">
											<p>
												<% if project.markdown == true %>
														<%= convertMarkdown(project.content).html_safe %>
												<% else %>
														<%= project.content.html_safe %>
												<% end %>
											</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
				<% end %>
				<% @count = @count + 1 %>
		<% end %>
		</div>
		
		<!-- BLOG -->
		<% if @featureBlog %>
				<%= render "blog" %>
		<% end %>
		
		<!-- GITHUB -->
		<% if @featureGithub %>
				<%= render "github" %>
		<% end %>
		</div>

