<div class="container">
	<h1 class="fullName"><%= link_to "vasilios c. kaloidis", root_path %> <%#= image_tag('helmet.png') %></h1>
	
	<%= render "skills" %>
	
	<h1>Projects</h1>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<% @projects.each do |project| %>
				<% if project.displayed %>
						
						<% if @count == @half # Split DIV For 2 columns   %>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<% end %>
						
						<div class="panel panel-default center-block">
							<p data-toggle="modal" data-target="#modal<%= project.id %>"
							   class="panel-body">
								<%= project.name %><br>
								<%= buildCategoryHtml(project.categories).html_safe %>
							</p>
						</div>
						
						<!-- Modal -->
						<div class="container">
							<div class="modal fade" id="modal<%= project.id %>"
							     tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
							     aria-hidden="true">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title" id="myModalLabel"><%= project.name %></h4>
										</div>
										<div class="modal-body">
											<p><%= project.content.html_safe %></p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
				<% end %>
				<% @count = @count + 1 %>
		<% end %>
		</div>
		
		<!-- GITHUB SECTION - TODO: GOTTA Start caching this and Authenticating first **** -->
		<% if @feature == true %>
				<h1>GitHub Activity</h1>
				<div class="card-columns">
					<% @eventsJson.each do |item| %>
							<div class="card">
								<% image_tag(item["actor"]["avatar_url"], class: "card-img-top") %>
								<div class="card-block">
									<p class="card-text">
										<small class="text-muted">
											<%= link_to item["actor"]["login"], item["actor"]["url"] %>
											
											<%= item["event"] %>
											
											<%= link_to item["repo"]["name"], item["repo"]["url"] %>
											
											<%= item["created_at"] %>
											<%#= link_to item["org"]["login"], item["org"]["url"] %>
										</small>
									</p>
								</div>
							</div>
					<% end %>
				</div>
				<br>
				<h1>GitHub Starred Repositories</h1>
				<div class="card-columns">
					<% @starredJson.each do |item| %>
							<div class="card">
								<div class="card-block">
									<h6 class="card-title"><%= item["name"] %></h6>
									<p class="card-text"><%= trimDescription(70, item["description"]) %></p>
									<p class="card-text">
										<small class="text-muted">
											<%= link_to "View...", item["url"] %>
										</small>
									</p>
								</div>
							</div>
					<% end %>
				</div>
		<% end %>
		</div>

