<h1 class="fullName">Vasilios C. Kaloidis</h1>

<!--<p id="notice"><%= notice %></p>-->

<div class="container">

    <%= render "skills" %>

    <h1>Projects</h1>
    <div class="card-columns">
        <% @projects.each do |project| %>
           <% if project.displayed %>
                <div class="card">
                    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-block">
                        <h4 class="card-title"><%= project.name %></h4>
                        <%
                            description = project.summary
                            categoryHtml = buildCategoryHtml(project.categories)
                        %>
                        <p class="card-text"><%= description %></p>
                        <p class="card-text"><small class="text-muted"><%= categoryHtml %></small></p>
                        <p class="card-text"><small class="text-muted">
                            <%= link_to 'Show', project %>-
                            <%= link_to 'Edit', edit_project_path(project) %></small></p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>

</div>

<br>

<%= link_to 'New Project', new_project_path %>
