<div class="container">

  <%= link_to 'Edit', edit_project_path(@project) %> |
	<%= link_to 'Back', projects_path %>
	
	<p id="notice"><%= notice %></p>


	<p>
		<strong>Name:</strong>
		<%= @project.name %>
	</p>
	
	<p>
		<strong>Shortname:</strong>
		<%= @project.shortname %>
	</p>
	
	<p>
		<strong>Categories:</strong>
		<%= @project.categories %>
	</p>
	
	<p>
		<strong>Order / Displayed:</strong>
		<%= @project.order %> /
    <%= @project.displayed %>
	</p>

  <% if @project.markdown != true %>

    <p>
      <h4>HTML</h4>
      <div style="border:1px solid black; margin:25px; padding:5px;">
        <%= @project.content.html_safe %>
      </div>
    </p>

  <% else %>

    <p>
      <h4>Markdown</h4>
      <div style="border:1px solid black; margin:25px; padding:5px;">
          <%= convertMarkdown(@project.content).html_safe %>
      </div>
    </p>

  <% end %>
	
</div>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
