<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @project.name %>
</p>

<p>
    <strong>Shortname:</strong>
    <%= @project.shortname %>
</p>

<p>
    <strong>Categories:</strong>
    <%= @project.categories %>
</p>

<p>
    <strong>Order:</strong>
    <%= @project.order %>
</p>

<p>
    <strong>Displayed:</strong>
    <%= @project.displayed %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
