<div class="container">

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>

  <p id="notice"><%= notice %></p>


  <p>
    <strong>Name:</strong>
    <%= @project.name %>
  </p>

  <p>
    <strong>Shortname:</strong>
    <%= @project.shortname %>
  </p>

  <p>
    <strong>Image Directory:</strong>
    <%= @project.image_dir %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= @project.categories %>
  </p>

  <p>
    <strong>Sticky / Displayed:</strong>
    <%= @project.sticky %> /
    <%= @project.displayed %>
  </p>

  <!--<p>-->
  <!--<%#= image_tag @project.avatar.url(:medium) %>-->
  <!--</p>-->

  <% if @project.markdown %>
    <h4>HTML</h4>
  <% else %>
    <h4>Markdown</h4>
  <% end %>

  <div id="render_project_markdown_<%= @project.id.to_s %>" style="border:1px solid black; margin:25px; padding:5px;">
    <%= @project.content.html_safe %>
  </div>

  <% if @project.markdown %>
    <script>
        var markedOptions = {};
        markedOptions.breaks = true;
        // marked.setOptions(markedOptions);
        var preview_window = $('#render_project_markdown_<%= @project.id.to_s %>');
        preview_window.html(marked(preview_window.html()));
    </script>
  <% end %>

</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
