<!DOCTYPE html>
<html>
<head>
	<title>Vasilios C. Kaloidis</title>
	<%= csrf_meta_tags %>

  <title>Vas Kaloidis - Software Engineer Portfolio</title>
  <meta name="description" content="Vas Kaloidis - Software Engineer">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta name="title" property="og:title" content="Vas Kaloidis - Software Engineer">
<meta property="og:type" content="Website">
<meta name="image" property="og:image" content="https://www.vasi.codes/assets/vkaloidis-hipster-logo-014c0508cfe5f55be65496f6b375420bba4303ee27ed06994d9c633095ee6aa4.png">
<meta name="description" property="og:description" content="Vas Kaloidis - iOS, Rails, Java Software Engineer Portfolio Site">
<meta name="author" content="Vas Kaloidis">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
	<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:100' %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>

  <%#= TODO: Only display in admin  %>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

	<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css" integrity="sha512-NVt7pmp5f+3eWRPO1h4A1gCf4opn4r5z2wS1mi7AaVcTzE9wDJ6RzMqSygjDzYHLp+mAJ2/qzXXDHar6IQwddQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" integrity="sha512-7KzSt4AJ9bLchXCRllnyYUDjfhO2IFEWSa+a5/3kPGQbr+swRTorHQfyADAhSlVHCs1bpFdB1447ZRzFyiiXsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
<!--  <link href="https://unpkg.com/video.js@7/dist/video-js.min.css" rel="stylesheet" />-->
<!--  <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet" />-->

  <script>
      function openModal(div) {
        $(div).modal();
      }

	</script>

  <style type="text/css">

      .wellinks-screenshot {
          width: 400px;
      }

      .img-thumb {
          max-width: 200px;
      }

      .desktop-screenshot-thumb {
          max-width: 500px;
      }

      .gallery {
          background-color: #333;
          overflow: auto;
          white-space: nowrap;
          padding: 10px;
      }

      .gallery img {
          padding: 10px;
      }

      .gallery video {
          padding: 10px;
      }

      /*.vjs-poster {*/
      /*    max-width: 500px;*/
      /*}*/
  </style>

<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.min.css" integrity="sha512-c7jR/kCnu09ZrAKsWXsI/x9HCO9kkpHw4Ftqhofqs+I2hNxalK5RGwo/IAhW3iqCHIw55wBSSCFlm8JP0sw2Zw==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider-min.js" integrity="sha512-BmoWLYENsSaAfQfHszJM7cLiy9Ml4I0n1YtBQKfx8PaYpZ3SoTXfj3YiDNn0GAdveOCNbK8WqQQYaSb0CMjTHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36624287-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}

		gtag('js', new Date());
		gtag('config', 'UA-36624287-1');
	</script>
</head>

<body>
<% if current_page?(:controller => 'projects') && current_page?(:view => 'view') %>
		<%= render 'layouts/customer_navbar' %>
<% elsif session[:admin] %>
		<%= render 'layouts/navbar' %>
<% end %>

<%# if current_page?(:controller => 'main') %>
<!--	<header>-->
<!--		<div class="container">-->
<!--		</div>-->
<!--	</header>-->
<!--	<div class="container-fluid">-->
		<%#= yield %>
<!--	</div>-->
<%# else %>
	<div class="container-fluid">
		<%= yield %>
	</div>
<%# end %>


<div class="container">
	<p class="text-muted">
		<% if session[:admin] %>
			<%= link_to "Admin", admin_path %> |
			<%= link_to "Logout", logout_url %>
		<% else %>
			<%= link_to "Login", login_url %>
		<% end %>
	</p>
</div>

<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>

</body>

<script type="application/ecmascript">
        baguetteBox.run('.gallery');
</script>


</html>
