<!DOCTYPE html>
<html>
<head>
	<title>Vasilios C. Kaloidis</title>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:100' %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
  <%= stylesheet_link_tag 'bootstrap-tagsinput-rails' %>

  <script>
      function openModal(div) {
          $(div).modal();
      }
  </script>

  <!-- Start of Async Drift Code -->
  <script>
      !function() {
          var t;
          if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
              t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
              t.factory = function(e) {
                  return function() {
                      var n;
                      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                  };
              }, t.methods.forEach(function(e) {
              t[e] = t.factory(e);
          }), t.load = function(t) {
              var e, n, o, i;
              e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                  o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                  n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
          });
      }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('di4et8rgkcup');
  </script>
  <!-- End of Async Drift Code -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36624287-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-36624287-1');
  </script>

</head>

<body>

  <%= render 'layouts/navbar' %>

  <% if current_page?(:controller => 'main')%>

    <!-- Header -->
    <header>
      <div class="container">
      </div>
    </header>

        <%= yield %>
      </div>

  <% else %>
    <div class="container">
      <%= yield %>
      </div>
  <% end %>


  <div class="container">
    <p class="text-muted">
      <%= link_to 'www.bluehelmet.software', 'BlueHelmet.Software' %>
      <% link_to_if session[:admin].nil?, "Login", login_url %>
      <% link_to_if session[:admin], "Logout", logout_url %>
    </p>
  </div>

</body>


</html>
