<!DOCTYPE html>
<html>
<head>
	<title>Vasilios C. Kaloidis</title>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:100' %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
  <%= stylesheet_link_tag 'bootstrap-tagsinput-rails' %>
</head>

<body>

  <%= render 'layouts/navbar' %>

  <% if current_page?(:controller => 'main')%>

    <!-- Header -->
    <header>
      <div class="container">
      </div>
    </header>

        <%= yield %>
      </div>

  <% else %>
    <div class="container">
      <%= yield %>
      </div>
  <% end %>


  <div class="container">
    <p class="text-muted">A Vasilios Kaloidis Project.
      <% link_to_unless session[:admin], "Login", login_url %>
      <% link_to_if session[:admin], "Logout", logout_url %>
    </p>
  </div>

</body>


</html>